<nav> <!--Sirve para hacer barras de navegacion-->
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Productos</a> <!--con el routerLink ejecuta un single page para que no tenga que
    recargar toda la pagina sino solo lo que necesitamos
    routerLinkActive="active" lo que hace es poner estilos solo y solo si, ese link esta activo, 
    se debe hacer un cambio en el scss-->
    <a routerLink="/contact" routerLinkActive="active">Contactos</a>
</nav>
