nav > a{ //cualquier elemento a que este dentro del nav
    padding: 5px;
    text-decoration: none; //ningun underline
}
nav > a.active{ //cualquier elemento a que este dentro del nav
    background-color: blue;
    padding: 5px;
    text-decoration: none; //ningun underline
}

.header-row{
    width: 100%;
}