<input type ='text' [(ngModel)] = "title"> <!--Esto permite pasar lo que se escribe en el input
a una variable en este caso title que viene del componente
sin embargo se debe import un modulo en app.module-->
{{title}}

<input type ='text' [(ngModel)] = "power">
{{power | exponential}}

<div *ngIf = "title === 'Pedro'">
  Esto es un div
</div>

<div [ngSwitch] = 'title'>
  <p *ngSwitchCase = "'nicolas'">Este es nicolas </p>
  <p *ngSwitchCase = "'julian'">Este es julian </p>
  <p *ngSwitchCase = "'mateo'">Este es mateo </p>
  <p *ngSwitchDefault>No hay match </p>
</div>

<button (click)="addItem()">Add item</button> <!--(click) es una accion que ejecuta un metodo que va a estar en los componentes-->

<ul>
  <li *ngIf="items2.length ===0">
  La lista esta vacia! :(
  </li>
  <li *ngFor ="let item of items2 ; index as i"> <!--let item es el iterador e items2 es la lista que se definio en el
  compoenente.
index as i manda los indices de la lista a la variable i-->
    {{item}} {{i}}
    <button (click)="delete(i)">Delete item</button>
  </li>
</ul>

<!--<div *ngFor="let product of products">
    {{product.title}}
    <img [src]="product.image" alt="">  src entre corchetes se usa para cambiar los atributos de este
</div> -->

<div class="product-grid">
  <app-product *ngFor="let product of products"
  (productClicked)='clickProduct($event)'
   [product]='product'> <!--Las entradas se ponene en [] y las salidas en ()
  $event es para emitir el evento que se le paso al componente product.id-->
  </app-product>
</div>